@font-face {
  font-family: 'Arial Rounded MT Std';
  src: url('ArialRoundedMTStd.otf');
}

@font-face {
  font-family: 'Proxima Soft';
  src: url('proximasoft-regular-webfont.woff');
}

@font-face {
  font-family: 'Proxima Soft';
  src: url('proximasoft-bold-webfont.woff');
  font-weight: bold;
}

body {
  font-family: "Proxima Soft", sans-serif;
  font-weight: bold;
  color: #eee;
  font-size: 18px;
  line-height: 1.25;
  margin: 0;
  background: rgb(105,25,230);
  background: linear-gradient(180deg, rgba(105,25,230,1) 0%, rgba(72,29,225,1) 100%);

  display: flex;
  flex-flow: column;
  justify-content: space-between;
}

.ttyl-header {
  background: rgb(105,25,230);
  background: linear-gradient(180deg, rgba(105,25,230,1) 0%, rgba(72,29,225,1) 100%);
}

canvas {
  position: absolute;
  left: 0;
  top: 0;
  background: transparent;
  pointer-events: none;
}

@keyframes pulse {
  0% {
    opacity: 1;
  }

  25% {
    transform: scale(50);
    opacity: 0.9;
  }

  50% {
    transform: scale(100);
    opacity: 0.7;
  }

  100% {
    transform: scale(200);
    opacity: 0;
  }
}

@keyframes expand {
  0% {
    transform: scale(10);
    opacity: 1;
  }

  33% {
    transform: scale(20);
    opacity: 0.5;
  }

  100% {
    transform: scale(100);
    opacity: 0;
  }
}

.ring-expand {
  animation: expand 1s normal linear;
}

.pulsate-css {
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    position: absolute;
    display: inline-block;
    opacity: 0.0;
    text-align: center;
    width: 2px;
    height: 2px;
    left: 50%;
    margin-left: -1px;
    top: 50%;
    margin-top: -1px;
}

.pulsate-1 {
  animation: pulse 3s infinite linear;
}

.pulsate-2 {
  animation: pulse 3s 1s infinite linear;
}

.pulsate-3 {
  animation: pulse 3s 2s infinite linear;
}

.pulsate-base {
  border: 2px solid rgba(0, 0, 0, 0.1);;
  border-radius: 50%;
  position: absolute;
  display: inline-block;
  width: 10px;
  height: 10px;
  left: 50%;
  margin-left: -5px;
  top: 50%;
  margin-top: -5px;
  opacity: 1;
}

.pulsate-ring {
  border: 10px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  position: absolute;
  display: inline-block;
  width: 400px;
  height: 400px;
  left: 50%;
  margin-left: -210px;
  top: 50%;
  margin-top: -210px;
  opacity: 0.8;
  z-index: 0;
}

#pulse-container {
  position: absolute;
  top: 40vh;
  left: 0;
}

#pulse-rings {
  position: relative;
}

@media screen and (max-width: 500px) {
  #pulse-container {
    top: 40vh;
    right: 0;
    left: auto;
  }
}

.ttyl-logo > img {
  width: 100px;
  margin-left: 20px;
  margin-top: 10px;
}

.ttyl-logo {
  display: flex;
  flex-flow: row;
}

@media screen and (max-width: 500px) {
  .ttyl-logo {
    justify-content: center;
  }

  .ttyl-logo > img {
    margin: 0;
  }
}

.logo {
  width: 100px;
  margin-left: 20px;
}

.ttyl-description-container {
  display: flex;
  flex: 1;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 100px;
  z-index: 1000;
}

@media screen and (max-width: 500px) {
  .ttyl-description-container {
    flex: none;
    height: calc(100vh - 100px);
  }
}

.ttyl-description {
  font-size: 48px;
  margin-bottom: 30px;
}

.ttyl-link {
  padding: 10px 20px;
  border-radius: 15px;
  text-decoration: none;
  color: white;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0) 100%), #00B8F2;
}

.ttyl-link:hover {
  transform: scale(1.15);
  cursor: pointer;
}

.footer-web {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: space-between;
  height: 50px;
}

.footer-mobile {
  display: flex;
  flex-flow: column;
  align-items: stretch;
}

.footer-mobile > div {
  display: flex;
  flex-flow: row;
  justify-content: center;
  padding: 10px;
}

.footer-mobile .ttyl-legal {
  margin: 0 20px
}

@media screen and (min-width: 500px) {
  .footer-mobile {
    display: none;
  }
}

@media screen and (max-width: 500px) {
  .footer-web {
    display: none;
  }
}

.ttyl-footer-container {
  font-size: 14px;
  align-self: stretch;
  background-color: #F6F6F9;
  color: black;
  z-index: 1000;
}

.ttyl-footer-container a {
  text-decoration: none;
  color: black;
}

.ttyl-footer-container a:hover {
  color: #461de1;
  transition: all 0.3s ease;
}

.ttyl-footer-links {
  display: flex;
  flex-flow: row;
}

.ttyl-copyright {
  margin: 0 10px 0 20px;
  font-family: 'Arial Rounded MT Std';
}

.ttyl-legal {
  margin: 0 10px;
  font-family: 'Proxima Soft';
}

.ttyl-footer-social {
  display: flex;
  flex-flow: row;
  align-items: center;
}

.ttyl-social-icon {
  margin: 0 20px;
}

.icon {
  display: flex;
  flex-flow: row;
  align-items: center;
}

.instagram {
  width: 21px;
  height: 21px;
  background-image: url('./instagram.svg');
  background-repeat: no-repeat;
}

.instagram:hover {
  background-image: url('./instagram-purple.svg');
  transition: all 0.5s ease;
}

.twitter {
  width: 21px;
  height: 21px;
  background-image: url('./twitter.svg');
  background-repeat: no-repeat;
}

.twitter:hover {
  background-image: url('./twitter-purple.svg');
  transition: all 0.5s ease;
}

.discord {
  width: 21px;
  height: 21px;
  background-image: url('./discord.svg');
  background-repeat: no-repeat;
}

.discord:hover {
  background-image: url('./discord-purple.svg');
  transition: all 0.5s ease;
}

p {
  font-weight: normal;
  font-size: 14px;
}

.content {
  background-color: white;
  color: black;
  padding: 25px 12.5%;
}

@media only screen and (max-width: 500px) {
  .indented {
    margin-left: 10px;
  }
}

@media only screen and (min-width: 500px) {
  .indented {
    margin-left: 40px;
  }
}

h1 {
  font-size: 48px;
  margin: 12px 0;
}

h2 {
  font-size: 24px;
  margin: 40px 0 12px 0;
}

h3 {
  font-size: 20px;
}

.date {
  font-weight: normal;
  font-size: 20px;
  color: #ADABBA;
}

p {
  font-size: 16px;
}

.indented {
  font-weight: normal;
  font-size: 16px;
}
